@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(243 244 246);
}

input[type="text"]{
    border-radius: 5px;
    padding: 7px;
    /* color: black; */
    font-size: small;
    outline: none;
}

select{
    border-radius: 5px;
    font-size: small;
    padding: 7px;
    background-color: white;
    color: black;
}
